* {
  margin: 0;
   
}

.blogItem {
  display: flex;
  width: 600px;
  align-items: center;
  margin-bottom: 20px;
}

.blogItem img {
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

.bigImage {
  width: 100%;
  /* height: 400px; */
}